<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wubin.kotlinModule">

    <application>

        <activity android:name="com.example.wubin.kotlinModule.view.KotlinActivity" />
        <activity android:name="com.example.wubin.kotlinModule.view.ToJavaActivity" />

    </application>

</manifest>